a {
  padding-right: 20px;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
}
.main_navbar {
  background-color: black;
  display: flex;
  justify-content: right;
}

.menu ul {
  font-weight: 900;
  margin: 0;
  padding: 10px;
  list-style-type: none;
}
